language: rust
dist: trusty
sudo: required
rust: 
  - nightly

node_js:
  - stable

# Cache `cargo install`ed tools, but don't cache the project's `target`
# directory (which ends up over-caching and filling all disk space!)
cache:
  directories:
    - /home/travis/.cargo

install:
  - wget https://raw.githubusercontent.com/creationix/nvm/v0.31.0/nvm.sh -O ~/.nvm/nvm.sh
  - source ~/.nvm/nvm.sh
  - nvm install node
  - nvm use node
  - rustup target add wasm32-unknown-unknown
  - (test -x $HOME/.cargo/bin/wasm-gc || cargo install wasm-gc)
  - (test -x $HOME/.cargo/bin/wasm-bindgen || cargo install wasm-bindgen-cli)
  - npm install

script:
  - npm run test:jest

after_success:
  - npm run bundle

deploy:
  local_dir: dist
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master
